
/* Color: green-inverse
=============================== */
.b-check .button,
.b-check .file-button,
.b-check .reset-button {
	background-color:#fff;
	border:1px solid #5da000;
	color:#6abc00;
	-ms-transition:all 0.15s;
	-moz-transition:all 0.15s;
	-webkit-transition:all 0.15s;
	transition:all 0.15s;
}
.b-check .button:hover,
.b-check .file-button:hover,
.b-check .reset-button:hover {
	background-color:#5da000;
	color:#fff;
}
.b-check .bar {
	background-color:#5da000;
}
.b-check .ratings input[type=radio] + label:hover,
.b-check .ratings input[type=radio] + label:hover ~ label,
.b-check .ratings input[type=radio]:checked + label,
.b-check .ratings input[type=radio]:checked + label ~ label {
	color:#5da000;
}